.info-square > .grid {
  margin-bottom: -5px;
}

.grid-ltr-container {
  width: 100%;
  direction: ltr;
  overflow-y: scroll;
}
@media (max-width: 650px) {
  .grid-ltr-container {
    max-height: 11%;
  }
}
@media (max-width: 550px) {
  .grid-ltr-container {
    max-height: 39%;
  }
}
@media (min-width: 651px) {
  .grid-ltr-container {
    max-height: 40%;
  }
}
@media (min-width: 854px) {
  .grid-ltr-container {
    max-height: 56%;
  }
}

.grid-ltr-container::-webkit-scrollbar {
  width: 4px;
}

.grid-ltr-container::-webkit-scrollbar-thumb {
  background: #808080;
}

.grid {
  max-height: 270px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.25fr repeat(5, 1fr);
}

.info-square > .grid > div:nth-child(-n+6) {
  background: #e6f1f3;
}
@media (max-width: 550px) {
  .info-square > .grid {
    padding: 0;
  }
  .info-square > .grid > div:nth-child(5) {
    background: #daeaee;
  }
  .info-square > .grid > div:nth-child(6) {
    background: #daeaee;
  }
}

@media (min-width: 550px) and (max-width: 650px) {
  .grid-cell {
    font-size: 14px;
    padding: 0;
  }
}

.grid .grid-cell:nth-child(6n+1) {
  justify-content: start;
}
.grid button {
  background: #e6f1f3;
  font-size: 15px;
  border: none;
}
.grid button:active {
  border: solid #000000 2px;
  border-radius: 4px;
}
.grid button:hover {
  cursor: pointer;
}
