.overview__header {
  padding: 16px;
}
@media (max-width: 768px) {
  .overview__header {
    padding: 5px;
  }
}

.last-7-days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.last-7-days .info-square-container {
  width: 25%;
}
@media (max-width: 768px) {
  .last-7-days .info-square-container {
    width: 50%;
  }
}
.last-7-days .width-100 {
  padding-right: 16px;
}
@media (max-width: 768px) {
  .last-7-days .width-100 {
    padding: 5px;
  }
}
