header {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.main-header__container-upper {
  display: flex;
  flex-wrap: wrap;
}

.theme-switch-container {
  position: absolute;
  top: 20px;
  left: 0;
  width: 53px;
  height: 44px;
}

.theme-switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  width: 100%;
  height: 100%;
  background: #39475d;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.theme-switch-button:hover {
  cursor: pointer;
}
.theme-switch-button i {
  width: 32px;
  height: 32px;
}

.main-header__container-lower {
  display: flex;
}

.info-squares-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info-square-container {
  padding: 16px;
  width: 16.6667%;
  min-height: 100px;
}
@media (max-width: 768px) {
  .info-square-container {
    padding: 5px;
    width: 50%;
  }
}

.info-square {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: solid 1px red;
  border-radius: 10px;
  padding: 16px;
  overflow: auto;
}
@media (max-width: 550px) {
  .info-square {
    padding: 5px;
  }
}

.info-square__main-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.info-square__main-header svg {
  min-width: 20px;
  height: 20px;
}

.info-square-main-header__headline {
  padding-left: 8px;
}
@media (min-width: 768px) {
  .info-square-main-header__headline {
    font-size: 1.5rem;
  }
}

.info-square__main-number {
  width: 100%;
  padding-bottom: 16px;
}

.info-square__secondary-info {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
}

.secondary-info__number {
  padding-left: 5px;
}

.overview__header {
  padding: 16px;
}
@media (max-width: 768px) {
  .overview__header {
    padding: 5px;
  }
}

.last-7-days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.last-7-days .info-square-container {
  width: 25%;
}
@media (max-width: 768px) {
  .last-7-days .info-square-container {
    width: 50%;
  }
}
.last-7-days .width-100 {
  padding-right: 16px;
}
@media (max-width: 768px) {
  .last-7-days .width-100 {
    padding: 5px;
  }
}

.search-bar-container {
  width: 100%;
  padding: 5px;
}

.search-bar {
  width: fit-content;
  border: solid 2px green;
  border-radius: 10px;
}

.traffic-light-upper-division {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.upper-division__right-side {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.upper-division__right-side > div {
  width: 100%;
}
@media (min-width: 550px) {
  .upper-division__right-side {
    width: 100%;
    flex-wrap: nowrap;
  }
  .upper-division__right-side > div {
    width: fit-content;
  }
}

.upper-division__left-side {
  display: flex;
  width: 30%;
}
.upper-division__left-side > div {
  width: 100%;
}
@media (max-width: 650px) {
  .upper-division__left-side {
    justify-content: center;
    flex-direction: column;
  }
  .upper-division__left-side > div {
    margin: auto;
  }
}

.svg-container {
  width: 24px;
  height: 24px;
  border: solid #808080 1px;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  #traffic-light-in-settlements .larger-container {
    width: 70%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.section-container {
  padding: 5px 32px;
  width: 100%;
}
@media (max-width: 768px) {
  .section-container {
    padding: 0;
  }
}

.grid-cell {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  padding: 2px;
}

.grid-cell__text {
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 550px) {
  .grid-cell__text {
    font-size: 0.7rem;
  }
}

.larger-container {
  width: 100%;
  height: 350px;
}
.larger-container .info-square {
  position: relative;
}
.larger-container > .info-square {
  overflow-y: hidden;
  overflow-x: auto;
}
.larger-container button {
  border: none;
  background: none;
  position: absolute;
  left: 16px;
  top: 16px;
}
.larger-container .info-square__main-header {
  margin-bottom: 10px;
}

.grid-ltr-container {
  width: 100%;
  direction: ltr;
  overflow: auto;
}

.grid {
  max-height: 270px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.25fr repeat(5, 1fr);
}
.grid > div:nth-child(-n+6) {
  background: #e6f1f3;
}
@media (max-width: 550px) {
  .grid {
    padding: 0;
  }
  .grid > div:nth-child(5) {
    background: #daeaee;
  }
  .grid > div:nth-child(6) {
    background: #daeaee;
  }
}

.flex-box {
  display: flex;
}

.fit-content {
  width: fit-content;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.margin-left-auto {
  margin-left: auto;
}

.width-100 {
  width: 100%;
}
