@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
header {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.main-header__container-upper {
  display: flex;
  flex-wrap: wrap;
}

.theme-switch-container {
  position: absolute;
  top: 20px;
  left: 0;
  width: 53px;
  height: 44px;
}

.theme-switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  width: 100%;
  height: 100%;
  background: #39475d;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.theme-switch-button:hover {
  cursor: pointer;
}
.theme-switch-button i {
  width: 32px;
  height: 32px;
}

.main-header__container-lower {
  display: flex;
}

.info-squares-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 16px;
}

.info-square-container {
  height: 184px;
  padding: 16px;
  width: 16.6667%;
  min-height: 100px;
}
@media (max-width: 768px) {
  .info-square-container {
    padding: 5px;
    width: 50%;
  }
}

.info-square {
  background: #ffffff;
  box-shadow: 0px 0px 2px -2px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  min-height: 184px;
  border-radius: 10px;
  padding: 16px;
  overflow: hidden;
}
@media (max-width: 550px) {
  .info-square {
    padding: 7px;
  }
}

.info-square__main-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 8px;
}
.info-square__main-header svg {
  min-width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .info-square__main-header {
    margin-bottom: 8px;
  }
}

.info-square-main-header__headline {
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 8px;
}

.info-square__main-number {
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 0;
}

.info-square__secondary-info {
  display: flex;
  align-items: center;
  width: 100%;
}
#verified-yesterday .secondary-info-number {
  font-size: 0.75rem;
}

.secondary-info-number {
  font-size: 0.8rem;
  padding-left: 5px;
}

.secondary-info-text {
  font-size: 0.75rem;
  font-weight: 500;
  padding-left: 5px;
}

#inhalated {
  margin-bottom: 11px;
}

#vaccinated .info-square__secondary-info {
  margin-bottom: 8px;
}
#vaccinated .info-square__main-number {
  font-size: 0.9rem;
}
#vaccinated .secondary-info-text {
  min-width: 50px;
  width: 60px;
}

#active-sick {
  margin-top: 16px;
}

#new-isolated-yesterday .info-square__main-number {
  margin-bottom: 16px;
}

.first-info-square {
  padding: 7px;
}

.info-square > .grid {
  margin-bottom: -5px;
}

.grid-ltr-container {
  width: 100%;
  direction: ltr;
  overflow-y: scroll;
}
@media (max-width: 650px) {
  .grid-ltr-container {
    max-height: 11%;
  }
}
@media (max-width: 550px) {
  .grid-ltr-container {
    max-height: 39%;
  }
}
@media (min-width: 651px) {
  .grid-ltr-container {
    max-height: 40%;
  }
}
@media (min-width: 854px) {
  .grid-ltr-container {
    max-height: 56%;
  }
}

.grid-ltr-container::-webkit-scrollbar {
  width: 4px;
}

.grid-ltr-container::-webkit-scrollbar-thumb {
  background: #808080;
}

.grid {
  max-height: 270px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.25fr repeat(5, 1fr);
}

.info-square > .grid > div:nth-child(-n+6) {
  background: #e6f1f3;
}
@media (max-width: 550px) {
  .info-square > .grid {
    padding: 0;
  }
  .info-square > .grid > div:nth-child(5) {
    background: #daeaee;
  }
  .info-square > .grid > div:nth-child(6) {
    background: #daeaee;
  }
}

@media (min-width: 550px) and (max-width: 650px) {
  .grid-cell {
    font-size: 14px;
    padding: 0;
  }
}

.overview__header {
  font-size: 19px;
  padding-right: 16px;
}
@media (max-width: 768px) {
  .overview__header {
    padding-right: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.last-7-days {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.last-7-days .info-square {
  box-shadow: 0px 0px 11px -7px;
  min-height: 150px;
}
.last-7-days .info-square-container {
  padding-left: 8px;
  padding-right: 8px;
  width: 25%;
}
@media (max-width: 768px) {
  .last-7-days .info-square-container {
    width: 50%;
  }
}
.last-7-days .width-100 {
  padding-right: 16px;
}
@media (max-width: 768px) {
  .last-7-days .width-100 {
    padding-right: 5px;
  }
}

.search-bar-container {
  width: 100%;
  height: 50px;
  padding: 5px;
}

.search-bar {
  width: fit-content;
  border: solid 2px green;
  border-radius: 10px;
}

@media (min-width: 550px) and (max-width: 650px) {
  #vaccination-of-population .grid-ltr-container {
    max-height: 62%;
  }
}
@media (max-width: 550px) {
  #vaccination-of-population .grid-ltr-container {
    max-height: 57%;
  }
}
#vaccination-of-population .info-square {
  row-gap: 5px;
}
#vaccination-of-population .first-grid {
  min-width: calc(100% + 16px);
  margin-right: -8px;
}
#vaccination-of-population .grid-ltr-container {
  min-width: calc(100% + 16px);
  margin-right: -8px;
}

.vaccine-by-settlement-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 200px;
  border: solid 1px rgba(128, 128, 128, 0.1);
  background: rgba(128, 128, 128, 0.1);
}
.vaccine-by-settlement-button span {
  font-size: 1rem;
  padding-right: 5px;
}

.angle-down {
  opacity: 0.3;
  height: 20px;
  width: 20px;
}

.traffic-light-upper-division {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.upper-division__right-side {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  column-gap: 10px;
  font-size: 13px;
}
@media (max-width: 550px) {
  .upper-division__right-side h4 {
    font-size: 10px;
  }
}
.upper-division__right-side > div {
  display: flex;
  column-gap: 10px;
  width: 100%;
  height: fit-content;
  min-height: 30px;
  align-items: center;
}
.upper-division__right-side > div:first-child {
  align-items: unset;
}
@media (min-width: 550px) {
  .upper-division__right-side {
    width: 100%;
    flex-wrap: nowrap;
  }
  .upper-division__right-side > div {
    width: fit-content;
  }
}

.upper-division__left-side {
  display: flex;
  width: 100%;
}
.upper-division__left-side > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.upper-division__left-side > div h3 {
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 650px) {
  .upper-division__left-side > div h3 {
    font-size: 2.8vw;
  }
}
@media (min-width: 550px) and (max-width: 650px) {
  .upper-division__left-side > div h3 {
    font-size: 13px;
  }
}
.upper-division__left-side > div h4 {
  font-size: 0.7rem;
  font-weight: 200;
  font-style: italic;
  color: #808080;
}
@media (max-width: 650px) {
  .upper-division__left-side > div h4 {
    font-size: 2.8vw;
  }
}
@media (min-width: 550px) and (max-width: 650px) {
  .upper-division__left-side > div h4 {
    font-size: 13px;
  }
}
@media (max-width: 650px) {
  .upper-division__left-side {
    width: 30%;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
  }
  .upper-division__left-side > div {
    margin: auto;
  }
}

.svg-container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  border: solid #808080 1px;
  border-radius: 50%;
}

.svg-container-inner {
  min-width: 20px;
  height: 20px;
}

@media (min-width: 1200px) {
  #traffic-light-in-settlements .larger-container {
    width: 70%;
  }
}
#traffic-light-in-settlements .info-square {
  row-gap: 5px;
}
#traffic-light-in-settlements .first-grid {
  min-width: calc(100% + 16px);
  margin-right: -8px;
}
#traffic-light-in-settlements .grid-ltr-container {
  min-width: calc(100% + 16px);
  margin-right: -8px;
}

.left-side-div {
  column-gap: 5px;
}

.left-side-div__color {
  width: 26px;
  min-width: 26px;
  height: 26px;
  border-radius: 10%;
}
@media (min-width: 800px) {
  .left-side-div__color {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 550px) and (max-width: 650px) {
  .upper-division__right-side .data-date {
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .upper-division__right-side .data-date {
    font-size: 10px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
  color: #222b45;
  font-family: "Open Sans Hebrew", serif;
}

body {
  background: #edf1f7;
}

.section-container {
  width: 100%;
}
@media (max-width: 768px) {
  .section-container {
    padding: 0;
    padding: 5px 0;
  }
}

.grid-cell {
  display: flex;
  align-items: center;
  padding: 2px;
}

.grid-cell:nth-child(6n+1) {
  padding-right: 8px;
}

.grid-cell__text {
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 550px) {
  .grid-cell__text {
    font-size: 0.7rem;
  }
}

.larger-container {
  width: 100%;
  height: 350px;
}
.larger-container .info-square {
  position: relative;
}
.larger-container .dotted-hamburger {
  border: none;
  background: none;
  position: absolute;
  left: 16px;
  top: 16px;
}
.larger-container .info-square__main-header {
  margin-bottom: 10px;
}

.flex-box {
  display: flex;
}

.fit-content {
  width: fit-content;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.margin-left-auto {
  margin-left: auto;
}

.width-100 {
  width: 100%;
}

.background-red {
  background: #ff0000;
}

.background-orange {
  background: #ffa500;
}

.background-yellow {
  background: #ffff00;
}

.background-light-green {
  background: #90ee90;
}

.small-circle {
  margin-left: 5px;
  min-width: 9px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: red;
}
