header {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.main-header__container-upper {
  display: flex;
  flex-wrap: wrap;
}

.theme-switch-container {
  position: absolute;
  top: 20px;
  left: 0;
  width: 53px;
  height: 44px;
}

.theme-switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  width: 100%;
  height: 100%;
  background: #39475d;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.theme-switch-button:hover {
  cursor: pointer;
}
.theme-switch-button i {
  width: 32px;
  height: 32px;
}

.main-header__container-lower {
  display: flex;
}

.info-squares-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info-square-container {
  padding: 16px;
  width: 16.6667%;
  min-height: 100px;
}
@media (max-width: 768px) {
  .info-square-container {
    padding: 5px;
    width: 50%;
  }
}

.last-7-days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.last-7-days .info-square-container {
  width: 50%;
}
@media (min-width: 768px) {
  .last-7-days .info-square-container {
    width: 25%;
  }
}

.info-square {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: solid 1px red;
  border-radius: 10px;
  padding: 16px;
}

.info-square__main-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.info-square__main-header svg {
  min-width: 20px;
  height: 20px;
}

.info-square-main-header__headline {
  padding-left: 8px;
}
@media (min-width: 768px) {
  .info-square-main-header__headline {
    font-size: 1.5rem;
  }
}

.info-square__main-number {
  width: 100%;
  padding-bottom: 16px;
}

.info-square__secondary-info {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
}

.secondary-info__number {
  padding-left: 5px;
}

.vaccination-by-settlement-container {
  display: flex;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.section-container {
  padding: 5px 32px;
  width: 100%;
}
@media (max-width: 768px) {
  .section-container {
    padding: 0;
  }
}
