.traffic-light-upper-division {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.upper-division__right-side {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  column-gap: 10px;
  font-size: 13px;
}
@media (max-width: 550px) {
  .upper-division__right-side h4 {
    font-size: 10px;
  }
}
.upper-division__right-side > div {
  display: flex;
  column-gap: 10px;
  width: 100%;
  height: fit-content;
  min-height: 30px;
}
.upper-division__right-side > div:first-child {
  align-items: unset;
}
@media (min-width: 550px) {
  .upper-division__right-side {
    width: 100%;
    flex-wrap: nowrap;
  }
  .upper-division__right-side > div {
    width: fit-content;
  }
}

.upper-division__left-side {
  display: flex;
  width: 100%;
}
.upper-division__left-side > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.upper-division__left-side > div h3 {
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 650px) {
  .upper-division__left-side > div h3 {
    font-size: 2.8vw;
  }
}
@media (min-width: 550px) and (max-width: 650px) {
  .upper-division__left-side > div h3 {
    font-size: 13px;
  }
}
.upper-division__left-side > div h4 {
  font-size: 0.7rem;
  font-weight: 200;
  font-style: italic;
  color: #808080;
}
@media (max-width: 650px) {
  .upper-division__left-side > div h4 {
    font-size: 2.8vw;
  }
}
@media (min-width: 550px) and (max-width: 650px) {
  .upper-division__left-side > div h4 {
    font-size: 13px;
  }
}
@media (max-width: 650px) {
  .upper-division__left-side {
    width: 30%;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
  }
  .upper-division__left-side > div {
    margin: auto;
  }
}

.svg-container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  border: solid #808080 1px;
  border-radius: 50%;
}
.svg-container-outer:hover {
  cursor: pointer;
}

.second-svg-container-outer:hover {
  background: rgba(128, 128, 128, 0.5);
}

.svg-container-inner {
  min-width: 20px;
  height: 20px;
}

@media (min-width: 1200px) {
  #traffic-light-in-settlements .larger-container {
    width: 70%;
  }
}
#traffic-light-in-settlements .info-square {
  row-gap: 5px;
}
#traffic-light-in-settlements .first-grid {
  min-width: calc(100% + 16px);
  margin-right: -8px;
}
#traffic-light-in-settlements .grid-ltr-container {
  min-width: calc(100% + 16px);
  margin-right: -8px;
}

.first-info-square {
  padding-top: 10px;
}

.left-side-div {
  column-gap: 5px;
}

.left-side-div__color {
  width: 26px;
  min-width: 26px;
  height: 26px;
  border-radius: 10%;
}
@media (min-width: 800px) {
  .left-side-div__color {
    width: 32px;
    height: 32px;
  }
}

.upper-division__right-side .data-date {
  background: #e6f1f4;
  padding-right: 5px;
  padding-left: 5px;
  align-items: center;
}
@media (min-width: 550px) and (max-width: 650px) {
  .upper-division__right-side .data-date {
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .upper-division__right-side .data-date {
    font-size: 10px;
  }
}

.fa-magnifying-glass {
  font-size: 18px;
}

#traffic-light-search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 200px;
  height: fit-content;
  background: white;
  overflow: hidden;
  padding: 7px;
  font-size: 0.75rem;
  margin: 2px;
  margin-bottom: 10px;
}
#traffic-light-search-bar .includes-settlement-list__settlement {
  font-size: 15px;
  font-weight: 700;
}
#traffic-light-search-bar input {
  border: none;
  padding-right: 5px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 10px;
  padding: 7px;
  font-size: 0.75rem;
  background: white;
  margin: 2px;
  margin-bottom: 10px;
}

#includes-settlement-list-traffic-light {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: #e4e9f2 solid 1px;
  border-radius: 5px;
  margin-right: 23px;
}
