.search-bar-container {
  width: 100%;
  height: 50px;
  padding: 5px;
}

.search-bar {
  width: fit-content;
  border: solid 2px green;
  border-radius: 10px;
}

#vaccination-of-population .grid-ltr-container {
  max-height: 62%;
}
@media (min-width: 550px) and (max-width: 650px) {
  #vaccination-of-population .grid-ltr-container {
    max-height: 62%;
  }
}
@media (max-width: 550px) {
  #vaccination-of-population .grid-ltr-container {
    max-height: 54%;
  }
}
#vaccination-of-population .info-square {
  row-gap: 5px;
}
#vaccination-of-population .first-grid {
  min-width: calc(100% + 16px);
  margin-right: -8px;
}
#vaccination-of-population .grid-ltr-container {
  min-width: calc(100% + 16px);
  margin-right: -8px;
}

.vaccine-by-settlement-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 200px;
  border: solid 1px rgba(128, 128, 128, 0.1);
  background: rgba(128, 128, 128, 0.1);
}
.vaccine-by-settlement-button span {
  font-size: 1rem;
  padding-right: 5px;
}

.angle-down {
  opacity: 0.3;
  height: 20px;
  width: 20px;
}
