.info-square > .grid {
    margin-bottom: -5px;
    // margin-right: 16px;
}

.grid-ltr-container {
    width: 100%;
    // max-height: fit-content;
    direction: ltr;
    overflow-y: scroll;
    // scrollbar-width: none;
    @media (max-width: 650px) {
        max-height: 11%;
    }
    @media (max-width: 550px) {
        max-height: 39%;
    }
    @media (min-width: 651px) {
        max-height: 40%;
    }
    @media (min-width: 854px) {
        max-height: 56%;
    }
}

.grid-ltr-container::-webkit-scrollbar {
    width: 4px;
}

.grid-ltr-container::-webkit-scrollbar-thumb {
    background: #808080;
}

.grid {
    max-height: 270px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr repeat(5, 1fr);
    // overflow: visible;
}
.info-square > .grid {
    > div:nth-child(-n + 6) {
        background: #e6f1f3;
    }
    @media (max-width: 550px) {
        padding: 0;
        > div:nth-child(5) {
            background: #daeaee;
        }
        > div:nth-child(6) {
            background: #daeaee;
        }
    }
}

.grid-cell {
    @media (min-width: 550px) {
        @media (max-width: 650px) {
            font-size: 14px;
            padding: 0;
        }
    }
}

.grid {
    & .grid-cell:nth-child(6n + 1) {
        justify-content: start;
    }
    button {
        display: flex;
        align-items: center;
        background: #e6f1f3;
        font-size: 15px;
        border: transparent solid 2px;
        &:active,
        &:focus {
            border: solid #000000 2px;
            border-radius: 4px;
        }
        &:hover {
            cursor: pointer;
        }
        i {
            color: #308bf6;
            padding-left: 5px;
        }
        .fa-sort-up {
            padding-top: 11px;
        }
        .fa-sort-down {
            padding-bottom: 6px;
        }
    }
}
