header {
    height: fit-content; // maybe
    display: flex;
    flex-wrap: wrap; //maybe
    width: 97vw;
}

.main-header__container {
    display: flex;
    flex-wrap: wrap;
    height: 121px;
    width: 100vw;
    @media (max-width: 690px) {
        height: 125px;
    }
    @media (max-width: 490px) {
        height: 121px;
    }
}

.hamburger-and-logo-container {
    display: flex;
    width: 50%;
}

.hamburger-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    // i {
    //     width: 100%;
    //     height: 100%;
    // }
}

.logo-container {
    width: 217px;
    height: 47px;
    img {
        width: 100%;
        height: 100%;
    }
}

.header-and-update-container {
}

.theme-switch-container {
    position: absolute;
    top: 20px;
    left: 0;
    width: 53px;
    height: 44px;
}

.theme-switch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    width: 100%;
    height: 100%;
    background: var(--theme-button-bg-color);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    &:hover {
        cursor: pointer;
    }
    img {
        background: none;
        width: 32px;
        height: 32px;
    }
}

.navigation-bar {
    display: flex;
}
