.info-squares-container {
    display: flex;
    flex-wrap: wrap;
    // margin-right: -15px;
    width: 100%;
}

.info-square-container {
    padding: 16px;
    width: 16.6667%;
    min-height: 100px; // temp for testing maybe change
    // border: solid 1px red;
    @media (max-width: 768px) {
        padding: 5px;
        width: 50%;
    }
}

.info-square {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: solid 1px red;
    border-radius: 10px;
    padding: 16px;
    overflow: hidden;
    @media (max-width: 550px) {
        padding: 5px;
    }
}

.info-square__main-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    svg {
        min-width: 20px;
        height: 20px;
    }
}

.info-square-main-header__headline {
    padding-left: 8px;
    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.info-square__main-number {
    width: 100%;
    padding-bottom: 16px;
}

.info-square__secondary-info {
    display: flex;
    width: 100%;
    padding-bottom: 5px;
}

.secondary-info__number {
    padding-left: 5px;
}
