.info-squares-container {
    display: flex;
    flex-wrap: wrap;
    // margin-right: -15px;
    width: 100%;
    row-gap: 16px;
}

.info-square-container {
    height: 184px;
    padding: 16px;
    width: 16.6667%;
    min-height: 100px; // temp for testing maybe change
    // border: solid 1px red;
    @media (max-width: 768px) {
        padding: 5px;
        width: 50%;
    }
}

.info-square {
    background: #ffffff;
    box-shadow: 0px 0px 2px -2px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 184px;
    // border: solid 1px red;
    border-radius: 10px;
    padding: 16px;
    overflow: hidden;
    @media (max-width: 550px) {
        padding: 7px;
    }
}

.info-square__main-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 8px;
    svg {
        min-width: 20px;
        height: 20px;
    }
    @media (min-width: 768px) {
        margin-bottom: 8px;
    }
}

.info-square-main-header__headline {
    font-size: 0.9rem;
    font-weight: 700;
    padding-left: 8px;
    // @media (min-width: 768px) {
    //     font-size: 1.5rem;
    // }
}

.info-square__main-number {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    margin-bottom: 0;
}

.info-square__secondary-info {
    display: flex;
    align-items: center;
    width: 100%;
    // padding-bottom: 5px;
    @media (min-width: 768px) {
        // margin-bottom: -8px;
    }
}

#verified-yesterday {
    .secondary-info-number {
        font-size: 0.75rem;
    }
}

.secondary-info-number {
    font-size: 0.8rem;
    padding-left: 5px;
}

.secondary-info-text {
    font-size: 0.75rem;
    font-weight: 500;
    padding-left: 5px;
}

#inhalated {
    margin-bottom: 11px;
}

#vaccinated {
    .info-square__secondary-info {
        margin-bottom: 8px;
    }
    .info-square__main-number {
        font-size: 0.9rem;
    }
    .secondary-info-text {
        min-width: 50px;
        width: 60px;
    }
}

#active-sick {
    margin-top: 16px;
}

#new-isolated-yesterday {
    .info-square__main-number {
        margin-bottom: 16px;
    }
}
