.overview__header {
    border-top: 1px solid rgba(161, 170, 177, .4);
    font-size: 19px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    // margin-top: 25px;

    @media (max-width: 768px) {
        padding-right: 5px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

#overview {
    // .overview__header {
    //     border-top: 0;
    //     margin-top: 0;
    // }

    .info-square-container.last-7-days {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        >.info-square {
            box-shadow: 0px 0px 11px -7px;
            // height: 150px;
            min-height: 150px;
            height: 218px;

            @media (max-width: 768px) {
                height: 380px;
            }

            .info-square {
                box-shadow: 0px 0px 11px -7px;
                // height: 150px;
                min-height: 150px;
                height: 150px;
            }
        }

        .info-square-container {
            background: var(--secondary-bg-color);
            padding: 8px;
            width: 25%;
            height: fit-content;
            min-height: fit-content;

            @media (max-width: 768px) {
                width: 50%;
            }
        }

        .width-100 {
            background: var(--secondary-bg-color);
            padding-right: 16px;
            font-size: 16px;

            @media (max-width: 768px) {
                padding-right: 5px;
            }
        }
    }
}