@use "./header.scss";
@use "./info-squares.scss";
@use "./grid.scss";
@use "./overview.scss";
@use "./vaccination-by-settlement.scss";
@use "./traffic-light-in-settlements";
@use "./main-indexes.scss";
@use "./general-sickness-indexes.scss";
@use "./children-sickness.scss";
@use "./sickness-from-abroad";
@use "./vaccination-influence-on-sickness";
@use "./severely-sick-and-hospitalized";
@use "./passed-away.scss";
@use "./check-ups.scss";
@use "./further-inquiry.scss";
@use "./recurring-sickness-and-recovery.scss";
@use "./high-charts.scss";
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    color: var(--main-color);
    background: var(--main-bg-color);
    font-family: "Open Sans Hebrew", serif;
}

body {
    background: var(--main-bg-color);
    overflow: visible;
    overflow-x: hidden;
}

.section-container {
    width: 100%;
    @media (max-width: 768px) {
        padding: 0;
        padding: 5px 0;
    }
}

.larger-container {
    width: 100%;
    height: 350px;
    padding: 0 16px;
    .info-square {
        position: relative;
    }
    .dotted-hamburger {
        border: none;
        background: none;
        position: absolute;
        left: 16px;
        top: 16px;
    }
    .info-square__main-header {
        margin-bottom: 10px;
    }
}

.flex-box {
    display: flex;
}

.relative {
    position: relative;
}

.fit-content {
    width: fit-content;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.margin-left-auto {
    margin-left: auto;
}

.width-100 {
    width: 100%;
}

.small-circle {
    margin-left: 5px;
    min-width: 9px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: red; //temp
}

.background-red {
    background: #fa9e8f;
}

.background-orange {
    background: #f2c580;
}
.background-yellow {
    background: #fcfc70;
}
.background-light-green {
    background: #b8de92;
}

.grade {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

.display-none {
    display: none !important;
}

.align-items-center {
    align-items: center;
}

:root {
    --main-bg-color: #edf1f7;
    --main-color: #222b45;
    --secondary-bg-color: #ffffff;
    --third-bg-color: #e6f1f4;
    --fourth-bg-color: #f7f9fc;
    --bar-bg-color: #eff5f9;
    --different-grid-cell-bg-color: #daeaee;
    --input-border-and-angle-color: #e4e9f2;
    --border-bottom-color: #eaf3f5;
    --theme-button-bg-color: #39475d;
}

html.dark-mode {
    --main-bg-color: #486579;
    --main-color: #ffffff;
    --secondary-bg-color: #384f5f;
    --third-bg-color: #2a3b47;
    --fourth-bg-color: #4e6275;
    --bar-bg-color: #293b48;
    --different-grid-cell-bg-color: #354047;
    --input-border-and-angle-color: #79858e;
    --border-bottom-color: #95a8b1;
    --theme-button-bg-color: #d8d8d8;
}

svg {
    background: var(--secondary-bg-color);
}

.first-bar-color {
    background: #1c7d7e;
}

.second-bar-color {
    background: #b6ca51;
}

.third-bar-color {
    background: #50cbfd;
}

.chart-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-bg-color);
    h1 {
        color: var(--main-color);
        background: var(--secondary-bg-color);
        text-align: center;
    }
}

.rtl-scroll {
    height: calc(100vh - 140px);
    overflow-y: scroll;
    direction: rtl;
    @media (max-width: 880px) {
        height: calc(100vh - 153px);
    }
    @media (max-width: 690px) {
        height: calc(100vh - 182px);
    }
}

.highlight-tab {
    background: rgb(255, 255, 255, 0.2) !important;
    border-radius: 10px !important;
    a {
        font-weight: 700 !important;
        background: transparent !important;
    }
}

#main {
    // width: 300px;
    // height: 300px;
    width: 100% !important;
    height: 100% !important;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}

#main2 {
    // width: 300px;
    // height: 300px;
    width: 100% !important;
    height: 100% !important;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}
#main3 {
    // width: 300px;
    // height: 300px;
    width: 100% !important;
    height: 100% !important;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}
#main4 {
    // width: 300px;
    // height: 300px;
    width: 100% !important;
    height: 100% !important;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}
#main5 {
    // width: 300px;
    // height: 300px;
    width: 100% !important;
    height: 100% !important;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}


.graph-top-row-container{
    width: 100%;
    display: flex;    
    position: relative;
    top: 10%;
    z-index: 100;
    justify-content: space-between;
    >h4{
        background: transparent;
        font-size: 0.8rem;
        font-weight: 400;
        padding: 10px;
        word-wrap: break-word;
        // width: 10%;
        // text-overflow: clip;
    }

}

.legend-container{
        padding: 5px;
        background: var(--secondary-bg-color);
        display: flex;    
        background: transparent;
        >div{
            background: transparent;
            h4{
                background: transparent;
                font-size: 0.8rem;
                font-weight: 400;
                background: var(--secondary-bg-color);        
            }    
        }
}

.legend-item-container {
    display: flex;
    align-items: center;
    background: var(--secondary-bg-color);
    padding-left: 16px;
}
