.traffic-light-upper-division {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.upper-division__right-side {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    column-gap: 10px;
    > div {
        display: flex;
        column-gap: 10px;
        width: 100%;
        height: fit-content;
        min-height: 30px;
        align-items: center;
    }
    > div:first-child {
        align-items: unset;
    }
    @media (min-width: 550px) {
        width: 100%;
        flex-wrap: nowrap;
        > div {
            width: fit-content;
        }
    }
}

.upper-division__left-side {
    display: flex;
    width: 100%;
    > div {
        width: 100%;
        display: flex;
        align-items: center;
        h3 {
            font-size: 1rem;
            font-weight: 400;
            @media (max-width: 650px) {
                font-size: 2.8vw;
            }
        }
        h4 {
            font-size: 0.7rem;
            font-weight: 200;
            font-style: italic;
            color: #808080;
            @media (max-width: 650px) {
                font-size: 2.8vw;
            }
        }
    }
    @media (max-width: 650px) {
        width: 30%;
        justify-content: center;
        flex-direction: column;
        row-gap: 5px;
        > div {
            margin: auto;
        }
    }
}

.traffic-light-search-bar {
}

.svg-container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    border: solid #808080 1px;
    border-radius: 50%;
}

.svg-container-inner {
    min-width: 20px;
    height: 20px;
}

#traffic-light-in-settlements {
    .larger-container {
        @media (min-width: 1200px) {
            width: 70%;
        }
    }
    .info-square {
        row-gap: 5px;
    }
}

.left-side-div {
    column-gap: 5px;
}

.left-side-div__color {
    width: 26px;
    min-width: 26px;
    height: 26px;
    border-radius: 10%;
    @media (min-width: 800px) {
        width: 32px;
        height: 32px;
    }
}
