.search-bar-container {
    width: 100%;
    padding: 5px;
    background: var(--secondary-bg-color);
}

.secondary-search-bar-container {
    z-index: 11;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    border: solid 1px rgb(128, 128, 128, 0.1);
    background: var(--secondary-bg-color);
    // overflow: hidden;

    input {
        width: 100%;
        border: 1px solid var(--input-border-and-angle-color-color);
        border-radius: 10px;
        padding: 7px;
        font-size: 0.75rem;
        background: var(--secondary-bg-color);
        margin: 2px;
        margin-bottom: 10px;
    }

    .accept-or-cancel-button {
        text-align: center;
        padding: 5px;
        font-weight: 400;
        width: 50%;
        background: var(--third-bg-color);
        cursor: pointer;
        border: transparent;

        &:focus {
            border: #000000 1px solid
        }
    }
}

#secondary-search-bar__secondary-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#secondary-div__close-div-vaccination {
    cursor: default;
    position: absolute;
    color: #4a6799;
    font-weight: 700;
    left: 0;
    top: 0;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 1rem;
}

.includes-settlement-list {
    position: absolute;
    top: 40px;
    background: var(--secondary-bg-color);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.includes-settlement-list__settlement {
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;

    &:hover {
        background: var(--third-bg-color);
        cursor: pointer;
    }
}

.search-bar {
    width: fit-content;
    border: solid 2px green;
    border-radius: 10px;
}

#vaccination-of-population {
    .grid-ltr-container {

        // max-height: 55%;
        @media (max-width: 1500px) {
            max-height: 72%;
        }

        @media (min-width: 550px) {
            @media (max-width: 650px) {
                max-height: 62%;
            }
        }

        @media (max-width: 550px) {
            max-height: 57%;
        }

        min-width: calc(100% + 16px);
        margin-right: -8px;

        @media (min-width: 651px) {
            @media (max-width: 1050px) {
                max-height: 60%;
            }
        }

        @media (min-width: 1284px) {
            max-height: 68%;
        }

        @media (min-width: 556px) {
            @media (max-width: 686px) {
                max-height: 69%;
            }
        }
    }
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 200px;
    border: solid 2px var(--input-border-and-angle-color);
    background: var(--fourth-bg-color);

    span {
        font-size: 1rem;
        padding-right: 5px;
        background: var(--main-bg-color);
        border-radius: 10px;
    }
}

.angle-down {
    opacity: 0.3;
    height: 20px;
    width: 20px;
    color: var(--input-border-and-angle-color);
}

.accept-cancel-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.bar {
    width: 50px;
    height: 10px;
    background: var(--bar-bg-color);

    &:hover {
        background: var(--secondary-bg-color);
        cursor: pointer;
    }
}

.colored-part {
    height: 100%;

    &:hover {
        opacity: 0.8;
    }
}

#vaccination-of-population {
    .info-square>.grid {
        @media (max-width: 550px) {

            >div:nth-child(5),
            >div:nth-child(6) {
                background: var(--different-grid-cell-bg-color);

                >button {
                    background: var(--different-grid-cell-bg-color);
                }

                .grid-cell__text {
                    background: var(--different-grid-cell-bg-color);
                }
            }
        }
    }
}